.navbar_dropdown {
    top: 80px;
    position: fixed;
    background-color: magenta;
    width: 100vw;
}

#italics {
    font-style: italic;
}

.menu_dropdown {
    background-color: cornflowerblue;
}

.menu_account_links {
    background-color: grey;
}